@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.logo {

    width: 70px;
    max-width: 100px;
}

.links {
    flex-grow: 0 !important;
}

.active {
    color:rgb(0, 132, 255) !important;
    border-bottom:1px solid #0084ff ;
}

.active:hover {
    color:rgb(0, 132, 255) !important;
    border: none;
}


.nav-item:hover {
    color: #0084ff !important;
    border-bottom:1px solid #0084ff ;
    transition: 1s ease;
    cursor: pointer;
}

.section {

    min-height: 100vh;
    position: relative;
}

@media screen and (max-width:767px) {
    .nav-link{
        text-align: center !important;
    }
}

/*--------------esto pertenece a la pagina 'contacto'------------------*/


/*--------------esto pertenece a la pagina 'nosotros'------------------*/
.main{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("/static/img/marketingd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    position: absolute;
}
.main h1{
    margin: 0%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 2px #000;
    z-index: 10;
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
    font-size: 50px;
    
}
.main p{
    color: #fff;
    text-align: center;
    padding: 0px 100px;
    z-index: 10;
    font-family: 'Playfair Display', serif;
}

@media screen and (max-width:767px) {
    .main p{
        color: #fff;
        padding: 0px 40px;
        z-index: 10;
        font-family: 'Playfair Display', serif;
        text-align: justify;
    }
    .main h1{
        margin: 0%;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 1px 2px #000;
        z-index: 10;
        font-family: 'Playfair Display', serif;
        margin-bottom: 50px;
        font-size: 30px;
    }  
}